from https://www.kaggle.com/opanichev/xgb-baseline

In [1]:
import numpy as np
import pandas as pd
import pickle
from collections import Counter

from scipy.io import mmread
from scipy import sparse
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import roc_auc_score

from tqdm import tqdm
#import xgboost as xgb
from xgboost import XGBRegressor # sklearn-style API
import utils

/Users/timothysweetser/python/virtualenv/work3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dfs = {}

dfs['train'] = pd.read_csv('data/postdiamond/train_full.csv')
dfs['test'] = pd.read_csv('data/postdiamond/test.csv')
df_songs = pd.read_csv('data/raw/songs.csv')
df_members = pd.read_csv('data/raw/members.csv')
song_map = pickle.load(open('data/processed/song_map.p', 'rb'))
X_genre = mmread('data/processed/X_genre.mtx') # shape is (n_songs, n_genres)

Filter to known songs

In [3]:
for x in dfs:
    dfs[x]['song_id'] = dfs[x]['song_id'].astype(str)
    dfs[x] = dfs[x][dfs[x]['song_id'].isin(df_songs['song_id'])]
    dfs[x]['song_idx'] = dfs[x]['song_id'].apply(lambda x: song_map[x])

# Genres and songs

In [4]:
df_genres = pd.DataFrame(X_genre.todense())
old_names = range(df_genres.shape[1])
new_names = ['genre%d' % x for x in old_names]
df_genres.rename(columns=dict(zip(old_names, new_names)), inplace=True)
df_genres.reset_index(inplace=True)
df_genres.rename(columns={'index': 'song_idx'}, inplace=True)
df_genres.sample(n=3)

,song_idx,genre0,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,...,genre182,genre183,genre184,genre185,genre186,genre187,genre188,genre189,genre190,genre191
598141,598141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
519512,519512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116579,116579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
genres = {}
for x in

In [8]:
sparse.csr_matrix(X_genre.todense()[[598141, 519512], :])

<2x192 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [5]:
for x in dfs:
    dfs[x] = pd.merge(dfs[x], df_genres, how='left', on='song_idx')

In [6]:
del X_genre, df_genres

Add song features

In [7]:
df_songs.sample(n=3)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
734012,tuutCvYaSKBeBBz80qy0uGgohnRkwlEEXZTYJC7hWQs=,287834,1609,James Grant & Jody Wisternoff,NaN,NaN,52.0
1292145,oiXX5XOD0zjcXMdXiDlAdX3vLflYSmdUXZoc133TrPE=,201734,465,Tim Be Told,Timothy Ouyang,NaN,52.0
50939,OkuUwIeDyoxHQIJkC8AFHLjh+uUdV38V+/93PB8tMSA=,307571,465,張衛健 (Dicky Cheung),Peter Lai,Poon Wai Yuen,24.0

In [8]:
df_songs['language'] = df_songs['language'].astype(str)
song_features = ['song_id', 'song_length', 'artist_name', 'composer', 'lyricist', 'language']
for x in dfs:
    dfs[x] = pd.merge(dfs[x], df_songs[song_features], how='left', on='song_id')

In [9]:
del df_songs

# Members

In [10]:
df_members.sample(n=3)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
30461,E9285C+V22kokpkOauwK02uzWGRMWCnzBG3xVE4YhgU=,1,0,NaN,3,20130123,20130206
22403,2SE2+gpMhsI8VdSEcDj5g+JRFhr+RPmCQ5wi00stzIw=,22,23,NaN,3,20140427,20170920
25918,5Fbbr04b/KbERvpAc5gnNqF6wBy7WxnIcOMT53m8A0g=,18,22,male,7,20130831,20171002

In [11]:
# Preprocess members data
for x in ['registration_init_time', 'expiration_date']:
    df_members[x] = df_members[x].astype(int)
df_members['registered_via'] = df_members['registered_via'].astype(str)

for x in dfs:
    dfs[x] = pd.merge(dfs[x], df_members, on='msno', how='left')

In [12]:
del df_members

# Preprocess df_train, df_test

* tqdm is a decorator on an iterator that adds a progress bar
* Label encoder seems like the wrong thing here: xgb will treat it as an int!

In [19]:
dfs['train'][[c for c in dfs['train'].columns if 'genre' not in c]].isnull().sum()

Unnamed: 0                      0
msno                            0
song_id                         0
source_system_tab           12767
source_screen_name         260863
source_type                 14299
target                          0
role                            0
row_index                       0
intercept                       0
diamond_prediction              0
song_idx                        0
song_length                     0
artist_name                     0
composer                  1106799
lyricist                  2096641
language                        0
city                            0
bd                              0
gender                    1949868
registered_via                  0
registration_init_time          0
expiration_date                 0
dtype: int64

In [20]:
[c for c, d in zip(dfs['train'].columns, dfs['train'].dtypes) \
 if d == 'object']

['msno',
 'song_id',
 'source_system_tab',
 'source_screen_name',
 'source_type',
 'role',
 'artist_name',
 'composer',
 'lyricist',
 'language',
 'gender',
 'registered_via']

In [21]:
# Preprocess dataset
for x in ['source_system_tab', 'source_screen_name', 'source_type']:
    for tt in dfs:
        dfs[tt][x] = dfs[tt][x].astype(str)

cols_to_drop = ['target', 'msno', 'song_id', 'song_idx', 'role',
                'Unnamed: 0', 'diamond_prediction', 'intercept', 'row_index']
cols = set(list(dfs['train'].columns)) - set(cols_to_drop)
cols = list(cols)
print([c for c in cols if
      dfs['train'].dtypes[c] == 'object'])

['registered_via', 'lyricist', 'source_system_tab', 'source_type', 'source_screen_name', 'language', 'composer', 'artist_name', 'gender']

In [22]:
for col in cols:
    if dfs['train'][col].dtype == 'object':
        print('building label encoder for `%s`' % col)
        le = LabelEncoder()
        unique_values = set()
        for x in dfs:
            dfs[x][col] = dfs[x][col].apply(str)
            unique_values = unique_values.union(set(dfs[x][col].unique()))
        le.fit(list(unique_values))
        for x in dfs:
            dfs[x][col] = le.transform(dfs[x][col])

building label encoder for `registered_via`
building label encoder for `lyricist`
building label encoder for `source_system_tab`
building label encoder for `source_type`
building label encoder for `source_screen_name`
building label encoder for `language`
building label encoder for `composer`
building label encoder for `artist_name`
building label encoder for `gender`

In [23]:
[(c, d) for c, d in zip(dfs['train'].columns, dfs['train'].dtypes) \
 if 'genre' not in c]

[('Unnamed: 0', dtype('int64')),
 ('msno', dtype('O')),
 ('song_id', dtype('O')),
 ('source_system_tab', dtype('int64')),
 ('source_screen_name', dtype('int64')),
 ('source_type', dtype('int64')),
 ('target', dtype('int64')),
 ('role', dtype('O')),
 ('row_index', dtype('int64')),
 ('intercept', dtype('float64')),
 ('diamond_prediction', dtype('float64')),
 ('song_idx', dtype('int64')),
 ('song_length', dtype('int64')),
 ('artist_name', dtype('int64')),
 ('composer', dtype('int64')),
 ('lyricist', dtype('int64')),
 ('language', dtype('int64')),
 ('city', dtype('int64')),
 ('bd', dtype('int64')),
 ('gender', dtype('int64')),
 ('registered_via', dtype('int64')),
 ('registration_init_time', dtype('int64')),
 ('expiration_date', dtype('int64'))]

In [27]:
dfs['train'].sample(n=3).drop(cols_to_drop, axis=1).T

                           2474408     536259      870492
source_system_tab              0.0         3.0         3.0
source_screen_name             5.0         8.0         8.0
source_type                    0.0         3.0         3.0
genre0                         0.0         0.0         0.0
genre1                         0.0         0.0         0.0
genre2                         0.0         0.0         0.0
genre3                         0.0         0.0         0.0
genre4                         0.0         0.0         0.0
genre5                         0.0         0.0         0.0
genre6                         0.0         0.0         0.0
genre7                         0.0         0.0         0.0
genre8                         0.0         0.0         0.0
genre9                         0.0         0.0         0.0
genre10                        0.0         0.0         0.0
genre11                        0.0         0.0         0.0
genre12                        0.0         0.0         0.0
genre13                        0.0         0.0         0.0
genre14                        0.0         0.0         0.0
genre15                        0.0         0.0         0.0
genre16                        0.0         0.0         0.0
genre17                        0.0         0.0         0.0
genre18                        0.0         0.0         0.0
genre19                        0.0         0.0         0.0
genre20                        0.0         0.0         0.0
genre21                        0.0         0.0         0.0
genre22                        0.0         0.0         0.0
genre23                        0.0         0.0         0.0
genre24                        0.0         0.0         0.0
genre25                        0.0         0.0         0.0
genre26                        0.0         0.0         0.0
...                            ...         ...         ...
genre173                       0.0         0.0         0.0
genre174                       0.0         0.0         0.0
genre175                       0.0         0.0         0.0
genre176                       0.0         0.0         0.0
genre177                       0.0         0.0         0.0
genre178                       0.0         0.0         0.0
genre179                       0.0         0.0         0.0
genre180                       0.0         0.0         0.0
genre181                       0.0         0.0         0.0
genre182                       0.0         0.0         0.0
genre183                       0.0         0.0         0.0
genre184                       0.0         0.0         0.0
genre185                       0.0         0.0         0.0
genre186                       0.0         0.0         0.0
genre187                       0.0         0.0         0.0
genre188                       0.0         0.0         0.0
genre189                       0.0         0.0         0.0
genre190                       0.0         0.0         0.0
genre191                       0.0         0.0         0.0
song_length               183716.0    261642.0    303717.0
artist_name                36867.0     44908.0     40056.0
composer                   45569.0     55576.0     79070.0
lyricist                   26025.0      9522.0     27908.0
language                       8.0         4.0         4.0
city                          22.0        13.0         3.0
bd                            31.0        28.0        43.0
gender                         0.0         0.0         0.0
registered_via                 2.0         5.0         5.0
registration_init_time  20150902.0  20070919.0  20060511.0
expiration_date         20170915.0  20171014.0  20170930.0

[206 rows x 3 columns]

In [43]:
# label encoding -> one hot encoding
hot_encodings = {}
ohe_cols = ['source_system_tab', 'source_screen_name', 'source_type', 
            'artist_name', 'composer', 'lyricist', 'language', 'city',
           'gender', 'registered_via']
for x in ohe_cols:
    ohe = OneHotEncoder()
    hot_encodings[x] = ohe.fit_transform(dfs['train'][[x]].as_matrix())

In [54]:
X_train = sparse.hstack([v for k, v in hot_encodings.items()] +
                       [sparse.csr_matrix(dfs['train'][[x for x in dfs['train'].columns \
                                                       if 'genre' in x]].as_matrix())] +
                        [dfs['train'][['song_length', 'bd', 'registration_init_time',
                                       'expiration_date']].as_matrix()])

In [ ]:
y_train = y_train.target - y_train.diamond_prediction

In [ ]:
y_train = dfs['train']['target'] - dfs['train']['diamond_prediction']

In [56]:
del dfs['train']

In [55]:
model = XGBRegressor(max_depth=4,
                    learning_rate=0.1,
                    n_estimators=200,
                    nthread=6)

In [56]:
model.fit(X['train'], y['train'])

In [19]:

# df_train model, evaluate and make predictions
watchlist = [(D['train'], 'train'), (D['val'], 'val')]
params = {}
params['objective'] = 'reg:linear'
params['max_depth'] = 4
params['silent'] = 1
MAX_ITS = 200


model = xgb.train(params, D['train'], MAX_ITS, watchlist, early_stopping_rounds=10, verbose_eval=1)
#model.save('model/xgboost_postdiamond_%d' % MAX_ITS)

[0]	train-rmse:0.56525	val-rmse:0.661395
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 10 rounds.
[1]	train-rmse:0.504811	val-rmse:0.590195
[2]	train-rmse:0.472358	val-rmse:0.548613
[3]	train-rmse:0.455573	val-rmse:0.524506
[4]	train-rmse:0.447043	val-rmse:0.510399
[5]	train-rmse:0.442767	val-rmse:0.502121
[6]	train-rmse:0.440593	val-rmse:0.497007
[7]	train-rmse:0.439501	val-rmse:0.493842
[8]	train-rmse:0.438938	val-rmse:0.491808
[9]	train-rmse:0.438648	val-rmse:0.490567
[10]	train-rmse:0.438484	val-rmse:0.489682
[11]	train-rmse:0.438354	val-rmse:0.489024
[12]	train-rmse:0.438293	val-rmse:0.488604
[13]	train-rmse:0.438238	val-rmse:0.488307
[14]	train-rmse:0.438193	val-rmse:0.488105
[15]	train-rmse:0.438162	val-rmse:0.487991
[16]	train-rmse:0.438099	val-rmse:0.487845
[17]	train-rmse:0.438057	val-rmse:0.487702
[18]	train-rmse:0.438014	val-rmse:0.487613
[19]	train-rmse:0.437987	val-rmse:0.487594
[20]	train-rmse:0.437971	val-rmse:0.487571
[21]	train-rmse:0.437949	val-rmse:0.487539
[22]	train-rmse:0.437928	val-rmse:0.487509
[23]	train-rmse:0.437885	val-rmse:0.487445
[24]	train-rmse:0.437854	val-rmse:0.487389
[25]	train-rmse:0.437807	val-rmse:0.487352
[26]	train-rmse:0.437793	val-rmse:0.487342
[27]	train-rmse:0.437776	val-rmse:0.487315
[28]	train-rmse:0.437748	val-rmse:0.487293
[29]	train-rmse:0.437732	val-rmse:0.487292
[30]	train-rmse:0.437708	val-rmse:0.487314
[31]	train-rmse:0.437686	val-rmse:0.487312
[32]	train-rmse:0.437674	val-rmse:0.487306
[33]	train-rmse:0.437655	val-rmse:0.487282
[34]	train-rmse:0.43763	val-rmse:0.487218
[35]	train-rmse:0.437601	val-rmse:0.487211
[36]	train-rmse:0.437574	val-rmse:0.487186
[37]	train-rmse:0.437561	val-rmse:0.487188
[38]	train-rmse:0.437552	val-rmse:0.487168
[39]	train-rmse:0.437534	val-rmse:0.487154
[40]	train-rmse:0.437523	val-rmse:0.487152
[41]	train-rmse:0.437507	val-rmse:0.487136
[42]	train-rmse:0.437497	val-rmse:0.487139
[43]	train-rmse:0.437487	val-rmse:0.487139
[44]	train-rmse:0.43748	val-rmse:0.487138
[45]	train-rmse:0.437457	val-rmse:0.487127
[46]	train-rmse:0.437442	val-rmse:0.48713
[47]	train-rmse:0.437434	val-rmse:0.487129
[48]	train-rmse:0.437418	val-rmse:0.487154
[49]	train-rmse:0.437409	val-rmse:0.487145
[50]	train-rmse:0.437389	val-rmse:0.487136
[51]	train-rmse:0.437384	val-rmse:0.487135
[52]	train-rmse:0.437376	val-rmse:0.487132
[53]	train-rmse:0.43736	val-rmse:0.487136
[54]	train-rmse:0.437337	val-rmse:0.487131
[55]	train-rmse:0.437323	val-rmse:0.487124
[56]	train-rmse:0.437303	val-rmse:0.487091
[57]	train-rmse:0.437283	val-rmse:0.487083
[58]	train-rmse:0.437275	val-rmse:0.487082
[59]	train-rmse:0.43727	val-rmse:0.487081
[60]	train-rmse:0.437267	val-rmse:0.487081
[61]	train-rmse:0.437259	val-rmse:0.487078
[62]	train-rmse:0.437234	val-rmse:0.487069
[63]	train-rmse:0.437224	val-rmse:0.487071
[64]	train-rmse:0.437215	val-rmse:0.487047
[65]	train-rmse:0.437213	val-rmse:0.487047
[66]	train-rmse:0.437202	val-rmse:0.487044
[67]	train-rmse:0.437181	val-rmse:0.487024
[68]	train-rmse:0.437162	val-rmse:0.48702
[69]	train-rmse:0.43714	val-rmse:0.486998
[70]	train-rmse:0.437128	val-rmse:0.486986
[71]	train-rmse:0.437104	val-rmse:0.486962
[72]	train-rmse:0.437101	val-rmse:0.486962
[73]	train-rmse:0.437093	val-rmse:0.486958
[74]	train-rmse:0.437091	val-rmse:0.486957
[75]	train-rmse:0.437078	val-rmse:0.486951
[76]	train-rmse:0.437066	val-rmse:0.486948
[77]	train-rmse:0.437056	val-rmse:0.486962
[78]	train-rmse:0.437041	val-rmse:0.486955
[79]	train-rmse:0.437018	val-rmse:0.486947
[80]	train-rmse:0.437002	val-rmse:0.48693
[81]	train-rmse:0.437001	val-rmse:0.486932
[82]	train-rmse:0.436996	val-rmse:0.486931
[83]	train-rmse:0.436975	val-rmse:0.486938
[84]	train-rmse:0.436965	val-rmse:0.486924
[85]	train-rmse:0.436954	val-rmse:0.486928
[86]	train-rmse:0.436943	val-rmse:0.486924
[87]	train-rmse:0.436939	val-rmse:0.486925
[88]	train-rmse:0.436936	val-rmse:0.486927
[89]	train-rmse:0.436933	val-rmse:0.486928
[90]	train-rmse:0.436931	val-rmse:0.486928
[91]	train-rmse:0.436921	val-rmse:0.486906
[92]	train-rmse:0.436911	val-rmse:0.486902
[93]	train-rmse:0.4369	val-rmse:0.48691
[94]	train-rmse:0.436879	val-rmse:0.486905
[95]	train-rmse:0.436866	val-rmse:0.486903
[96]	train-rmse:0.436864	val-rmse:0.486902
[97]	train-rmse:0.436862	val-rmse:0.486901
[98]	train-rmse:0.436857	val-rmse:0.486903
[99]	train-rmse:0.436855	val-rmse:0.486904
[100]	train-rmse:0.436849	val-rmse:0.486903
[101]	train-rmse:0.436842	val-rmse:0.486895
[102]	train-rmse:0.436822	val-rmse:0.486868
[103]	train-rmse:0.436809	val-rmse:0.48686
[104]	train-rmse:0.436798	val-rmse:0.486867
[105]	train-rmse:0.436788	val-rmse:0.486873
[106]	train-rmse:0.436777	val-rmse:0.486873
[107]	train-rmse:0.436766	val-rmse:0.486869
[108]	train-rmse:0.43676	val-rmse:0.486865
[109]	train-rmse:0.436743	val-rmse:0.486887
[110]	train-rmse:0.436738	val-rmse:0.486889
[111]	train-rmse:0.436727	val-rmse:0.486881
[112]	train-rmse:0.43672	val-rmse:0.486874
[113]	train-rmse:0.436708	val-rmse:0.486875
Stopping. Best iteration:
[103]	train-rmse:0.436809	val-rmse:0.48686

In [20]:
model.save_model('models/xgboost_postdiamond_%d' % MAX_ITS)

Evaluate on validation data

In [21]:
xgb_preds = model.predict(D['val'])
roc_auc_score(dfs['val']['target'],
              dfs['val']['diamond_prediction'] + xgb_preds)

0.6517490247447284

In [22]:
model.attributes()

{'best_iteration': '103',
 'best_msg': '[103]\ttrain-rmse:0.436809\tval-rmse:0.48686',
 'best_score': '0.48686'}

In [23]:
model.best_ntree_limit

104